.FeatureSequenceContainer {
    
}

.button_td {

}

.button_container {
    margin-left: 40px;
    margin-bottom: 20px;
}

.button_meta_table {
    background-color: #e0e5ee;
    padding: 4px 32px;
}

.buttonRow {
    text-align: center;
}

.col1_td {
    padding: 0 0.5em 0 0;
    text-align: left;
}

.highlightButton {
    
}

.hideButton {
    
}

.lowercaseButton {
    
}

.rowName {
    text-transform: capitalize;
}

.sequence {
	word-wrap: break-word;
	font-family : monospace;
}

.seq_display {
    
}

.sequence_box {
    display: inline-block;
    word-wrap: break-word;
    padding: 16px 32px;
    background-color: #FFFFFF;
    border: 1px solid #000000;
    margin-right: 40px;
    margin-left: 40px;
    width: 500px;
}

.sequence_title {
	font-size: 13px;
}

.tundra .DijitButtonText{
    padding: 0;
}

.upstreamSequence {
    display: none;
    font-family: monospace;
}

.downstreamSequence {
    display: none;
    font-family: monospace;
}

.dijitDialogPaneContent .container {
    height: 550px;
    overflow: auto;
}

  /*** Works on common browsers ***/
   ::selection {
       background-color: #BDD3FF;
       color: #fff;
   }

   /*** Mozilla based browsers ***/
   ::-moz-selection {
       background-color: #BDD3FF;
      color: #fff;
  }

  /***For Other Browsers ***/
  ::-o-selection {
      background-color: #BDD3FF;
      color: #fff;
  }

  ::-ms-selection {
      background-color: #BDD3FF;
      color: #fff;
  }

  /*** For Webkit ***/
  ::-webkit-selection {
      background-color: #BDD3FF;
      color: #fff;
  }
